@font-face {
    font-family: 'source_sans_pro';
    src: url('./fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_pro';
    src: url('./fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_pro';
    src: url('./fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('./fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

:root {
    --color-primary: #FF6565;
    --color-dark: #071629;
    --color-white: #FFFFFF;
    --color-black: #000000;

    --font-sm: 12px;
    --font-md: 14px;
    --font-lg: 16px;
    --font-xl: 32px;
    --font-icon: 64px;
    font-family: 'source_sans_pro';


}
body {
    margin: 0 auto;
}

a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--color-primary);
}

.container {
    max-width: 1000px;
    margin: auto;
    height: 800px;
    display: flex;
}

.wide {
    width: 100%;
}

@media (min-width: 768px) {
    .col-lg {
        display: flex;
        flex-direction: column;
    }

    .row-lg {
        display: flex;
        flex-direction: row;
    }

    .hidden-lg {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .col-md {
        display: flex;
        flex-direction: column;
    }

    .row-md {
        display: flex;
        flex-direction: row;
    }

    .hidden-md {
        display: none;
    }
}

@media (max-width: 480px) {
    .container {
        height: 869px;
    }

    .col-sm {
        display: flex;
        flex-direction: column;
    }

    .row-sm {
        display: flex;
        flex-direction: row;
    }

    .hidden-sm {
        display: none;
    }
    .revealed {
        margin-top: 20px;
        margin-bottom: -125px;
        width: 100%;
        height: 150px;
        justify-content: center;
        font-size: var(--font-md);
    }

    .wide-sm {
        width: 100%;
        flex-wrap: wrap;
    }

    .X {
        font-size: 24px;
        width: 24px;
        cursor: default;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .container {
        height: 900px;
    }
}

.section-col {
    width: 100%;
    align-items: center;
}

.section-container {
    max-width: 1000px;
    margin: auto;
    height: 100%;
    display: flex;
}

.section-content {
    justify-content: center;
    width: 100%;
}
@media (min-width: 768px) {
    .section-content {
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .section-content {
        flex-wrap: wrap;
    }
}

header {
    color: var(--color-white);
    padding-top: 2.5%;
}

.logo {
    width: 161px;
}

.light-mode {
    color: var(--color-dark);
}

.page-header {
    background-image: url('./images/headphones_hero_1.jpg');
    background-size: cover;
    background-position: 30%;
}

@media (min-width: 481px){
    .header {
        width: 100%;
        justify-content: space-between;
    }

    .nav-md {
        width: 255px;
    }

    .menu {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .header {
        width: 80%;
    }
    .container {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .header {
        justify-content: center;
    }

    .header-row {
        justify-content: flex-start;
    }

    .menu {
        display: flex;
        align-self: center;
        font-size: 24px;
        margin-left: 10px;
    }

    .logo-container {
        display: flex;
        align-self: center;
        margin: auto;
    }

}

.nav-list {
    list-style: none;
    justify-content: space-between;
    padding: 0;
}

@media (min-width: 481px) {
    .nav-list {
        font-size: var(--font-sm);
    }
}

.hero-content {
    margin: auto;
    margin-top: 300px;
    width: 65%;
    justify-content: center;
}

@media (max-width: 480px) {
    .hero-content {
        margin-top: 250px;
        width: 90%;
        align-self: center;
    }
    .hero-heading {
        width: 95%;
    }
    .hero-subheading {
        width: 80%;
    }
    .hero-col {
        align-items: center;
    }
    .first {
        order: 1;
    }
    .second {
        order: 2;
    }
    .wide-sm {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }
}

.hero-heading {
    font-size: var(--font-xl);
    font-weight: bold;
    line-height: 40.22px;
    margin-bottom: 0;
}
.heading-container {
    text-align: center;
    justify-content: center;
}

.hero-subheading {
    justify-content: center;
    margin-top: 0;
}

@media (max-width: 480px) {
    .hero-subheading {
        text-align: center;
    }

    .btn-container-sm {
        justify-content: center;
        margin-top: 10px;
    }
}

@media (min-width: 481px) {
    .btn-container-md {
        justify-content: center;
        margin-top: 40px;
    }
}

.hero-description {
    line-height: 26px;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.btn-primary {
    color: var(--color-white);
    font-weight: 700;
    background-color: var(--color-primary);
    border-radius: 25px;
    border-style: none;
    height: 44px;
    width: 162px;
}

.btn-container-md .btn-primary {
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
} 

.btn-primary:hover {
    opacity: 0.9;
}

.results-section {
    color: var(--color-white);
    background: url('./images/headphones_hero_2.jpg');
    background-size: cover;
    background-position: 30%;
}

.res-content-box {
    width: 207px;
    height: 180px;
    justify-content: center;
    text-align: center;
    background: url('./images/pentagone.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.res-content-name {
    font-size: 46px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .results-section {
        height: 650px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .results-section {
        height:876px;
    }
    .res-content-box {
        width: 50%;
        margin-bottom: 50px;
    }
}
@media (max-width: 480px) {
    .results-section {
        height: 1491px;
    }
    .res-content-box {
        width:100%;
        padding: 0 15%;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .services-section {
        height: 600px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .services-section {
        height: 750px;
    }

    .services-subheader {
        width: 60%;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    .services-section {
        height: 1401px;
    }
}

.services-heading {
    margin-bottom: 64px;
}

.services-section-header {
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-size: 24px;
    font-weight: normal;
    line-height: 37.5px;
}
.services-section-header h2 {
    margin: auto;
}

.services-subheader {
    font-size: var(--font-lg);
    text-align: center;
    width: 65%;
    margin: auto;
}

@media (max-width: 480px) {
    .services-subheader {
        margin-bottom: 32px;
        width: 80%;
    }
}

.service-box {
    width: 207px;
    height: 180px;
    justify-content: center;
    text-align: center;
}

@media (min-width: 481px) and (max-width: 767px) {
    .service-box {
        width: 50%;
    }
}
@media (max-width: 480px) {
    .service-box {
        width: 100%;
        padding: 15%;
        padding-top: 0;
    }
}

.service-icon {
    display: block;
    font-size: var(--font-icon);
    color: var(--color-primary);
    text-align: center;
    width: 100%;
}

.content-name {
    font-weight: 700;
}

form {
    width: 335px;
    justify-content: center;
}

form [class*='col-'] {
    width: 100%;
    margin-top: 100px;
}

label {
    font-size: var(--font-md);
    font-weight: 600;
}

input {
    width: 100%;
    border-style: none none solid;
    border-color: var(--color-dark);
    border-width: 1px;
    opacity: 17.45%;
    
}
input:focus {
    outline: none;
    opacity: 100%;
}
.input-container {
    flex-direction: row;
    margin-bottom: 50px;
}

.btn-container {
    text-align: center;
}

.submit {
    margin: auto;
}

.contact-section {
    height: 600px;
}

.contact-col {
    width: 100%;
    align-items: center;
}

footer {
    height: 249px;
    background-color: var(--color-dark);
}

.sm-container {
    color: var(--color-white);
    width: 130px;
    font-size: var(--font-xl);
}

.footer-content {
    justify-content: space-between;
    margin: auto 0 ;
}

@media (min-width: 481px) and (max-width: 767px) {
    .footer-content {
        width: 80%;
    }

    .wide {
        align-items: center;
    }
}

@media (max-width:480px) {
    .footer-content {
        flex-wrap: wrap;
    }
    .footer-col {
        width: 100%;
        align-items: center;
    }
    .sm-container {
        width: 100%;
    }
    .media-icons {
        width: 130px;
        margin: 40px auto 0;
    }
}

.media-icons {
    justify-content: space-between ;
}

.copyright {
    justify-content: center;
    text-align: center;
    font-size: var(--font-sm);
    color: var(--color-white);
    opacity: 35.17%;
}